@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Otterco Display';
  src: url('/assets/fonts/OttercoDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Otterco Display';
  src: url('/assets/fonts/OttercoDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Otterco Display';
  src: url('/assets/fonts/OttercoDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

body {
  @apply antialiased;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 5s linear infinite;
  will-change: transform;
}